.servicos {
    padding: 2rem 0;
}

.imagemServicos {
    height: 300px;
    margin: 2rem auto;
    width: 500px;
}

.listaServicos {
    display: inline-grid;
    flex-wrap: wrap;
    list-style: none;
}

.itemServicos {
    color: #0674c2;
    font-size: 1rem;
    font-weight: bolder;
    margin: 1rem 0;
    text-align: left;
    margin: 2rem auto;
}