.HeaderContainer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

img {
    height: 100px;
    width: 200px;
}

.headerNav {
    display: flex;
    list-style: none;
    color: #0a76ce;
    font-weight: bold;
}

.navMenu {
    margin: 1rem;
}

.navMenu:hover {
    cursor: pointer;
    text-decoration: underline;
}