.servicos {
    padding: 2rem 0;
}

.imagemServicos {
    height: 200px;
    margin: 2rem auto;
    width: 400px;
}

.listaServicos {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.itemServicos {
    color: #0674c2;
    flex-basis: 50%;
    font-size: 1rem;
    font-weight: bolder;
    margin: 1rem 0;
    text-align: left;
}